<html>
    <head>
        <title>Detail Project</title>
        <link rel="shortcut icon" href="/public/images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/public/css/detail.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg shadow">
            <div class="container-lg">
                <a class="navbar-brand logo" href="/home">
                    <img class=" my-0 h-100 " src="/public/images/logo.png" alt="logo" width="35" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link home active" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/project">Add Project</a>
                        </li>
                    </ul>
    
                    <a class="btn bg-dark text-light py-1 px-4" href="/contact">Contact Me</a>
    
                </div>
            </div>
        </nav>

        <div class="blog-detail">
            <div class="blog-detail-container">
                <h1>{{.title}}</h1>
                <section class="blog-detail-container-section">
    
                    <div class="blog-detail-container-section-left">
    
                        <img src="/public/images/cot logo.PNG" alt="project image">
    
                    </div>
    
                    <div class="blog-detail-container-section-right">
                        <h3>Duration</h3>
                        <div>
                            <i class="fa-solid fa-calendar"></i><span>12 jan 2021 - 13 Apr 2021</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-clock"></i><span>1 Month</span>
                        </div>
                        <h3>Technologies</h3>
    
                        <div class="Technologies-icon">
                            <div class="Technologies-icon-left">
                                <div>
                                    <i class="fa-brands fa-react"></i> <span>React Js</span>
                                </div>
    
                                <div>
                                    <i class="fa-brands fa-node-js"></i><span>Node Js</span>
                                </div>
                            </div>
                            <div class="Technologies-icon-right">
                                <div>
                                    <i class="fa-brands fa-js"></i><span>JavaScript</span>
                                </div>
                                <div>
                                    <i class="fa-brands fa-bootstrap"></i><span>Bootstrap</span>
                                </div>
                            </div>
                        </div>
    
    
    
                    </div>
    
                </section>
    
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, et. Earum suscipit eos temporibus, rem
                    molestias et. Similique, veritatis? Ullam corporis corrupti ex dignissimos officiis placeat quibusdam
                    saepe! Impedit, voluptatum?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nostrum provident accusamus? Cum
                    expedita consectetur quo esse et, dolores, facilis aspernatur consequuntur tempore ea in facere at
                    quibusdam, non omnis!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id quos repellat, non quod soluta, iste
                    ea, minima adipisci corrupti maxime. Rem maxime, eveniet non vel rerum atque veniam ea?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et saepe, quos alias sequi sint aliquam rem
                    debitis reprehenderit quam unde! Unde molestiae quasi error nisi quidem at voluptatum laboriosam
                    dolorum.
                </p>
    
            </div>
        </div>
    
    </body>
</html>